name: Release

on:
  push:
    tags:
      - v*.*.*
      - "!v*.*.*-**"

env:
  DIRECTORY: extension
  PROJECT_NAME: deeplink

jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        command:
          - Firefox
          - Chrome
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: yarn

      - name: Restore deps
        run: yarn install

      - name: Build for Chrome
        if: matrix.command == 'Chrome'
        run: yarn run build

      - name: Build for Firefox
        if: matrix.command == 'Firefox'
        run: yarn run build:firefox

      - name: Ready for "submit" jobs
        uses: actions/upload-artifact@v5
        with:
          path: ${{ env.DIRECTORY }}
          name: ${{ env.DIRECTORY }}-${{ matrix.command }}
          if-no-files-found: error

  Release:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      # The checkout step is needed so that the GitHub CLI
      # can lookup some git config stuff in order to create
      # the release.
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/download-artifact@v6

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: ${{ env.DIRECTORY }}-Chrome
        run: |
          FILENAME="$PROJECT_NAME-${GITHUB_REF_NAME}-Chrome-for-local-testing-only.zip"
          zip -r "$FILENAME" ./*
          gh release create "${GITHUB_REF_NAME}" --notes "See [CHANGELOG.md](https://github.com/deskypus/deeplink/blob/${GITHUB_REF_NAME}/CHANGELOG.md)." "$FILENAME"

      - name: Upload firefox artifact to GH release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: ${{ env.DIRECTORY }}-Firefox
        run: |
          FILENAME="$PROJECT_NAME-${GITHUB_REF_NAME}-Firefox-for-local-testing-only.zip"
          zip -r "$FILENAME" ./*
          gh release upload "${GITHUB_REF_NAME}" "$FILENAME"

  Submit:
    needs: [Build, Release]
    strategy:
      fail-fast: false
      matrix:
        command:
          - Firefox
          - Chrome
    environment: ${{ matrix.command }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v6

      - name: Submit to Mozilla
        if: matrix.command == 'Firefox'
        working-directory: ${{ env.DIRECTORY }}-${{ matrix.command }}
        run: npx web-ext@8 sign --channel listed
        env:
          WEB_EXT_API_KEY: ${{ secrets.WEB_EXT_API_KEY }}
          WEB_EXT_API_SECRET: ${{ secrets.WEB_EXT_API_SECRET }}

      - name: Submit to Google
        if: matrix.command == 'Chrome'
        working-directory: ${{ env.DIRECTORY }}-${{ matrix.command }}
        run: npx chrome-webstore-upload-cli@2 upload --auto-publish
        env:
          EXTENSION_ID: ${{ secrets.EXTENSION_ID }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
